body {
    font-family: Arial, sans-serif; /* Define a fonte principal do site */
    line-height: 1.0rem; /* Define o espaçamento entre linhas */
    margin: 0; /* Remove a margem padrão do body */
    padding: 0; /* Remove o padding padrão do body */
    background-color: #e9d1eb; /* Define a cor de fundo do site */
    padding-bottom: 50px;
    color: #333;
      

}

header {
    background-color: #4d2351; /* Define a cor de fundo do cabeçalho */
    color: #fff; /* Define a cor do texto do cabeçalho */
    text-align: center; /* Centraliza o texto do cabeçalho */
    padding-top: 1rem; 
    

}

.head {
    display: flex;
    justify-content: space-between;
}

.tit {
    margin-left: 510px;
    display: flex;
    justify-content: center;
}

.img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.music {
     margin-left: 1rem;
}

nav {
    background-color: #742c98; /* Define a cor de fundo da navegação */
    color: #fff; /* Define a cor do texto da navegação */
    padding: 0.5rem; /* Adiciona espaço interno à navegação */
    width: 100%;
   
    padding: 1rem;

    display: flex;
    /* Usa flexbox para layout do cabeçalho */
    justify-content: space-between;
    /* Distribui os elementos horizontalmente */
    align-items: center;
    /* Alinha os elementos do na verticalmente */
    font-size: 20px;
    font-family:monospace;

    
}

nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão da lista */
    display: flex; /* Usa flexbox para alinhar os itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

nav ul li {
    margin: 0 10px; /* Adiciona margem horizontal entre os itens */
}

nav ul li a {
    color: #fff; /* Define a cor dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
}


.coluna {
    flex: 1; /* Faz as colunas ocuparem espaço igual */
    background-color: #fff; /* Define a cor de fundo das colunas */
    margin: 10px; /* Adiciona margem às colunas */
    padding: 20px; /* Adiciona espaço interno às colunas */
    border-radius: 5px; /* Arredonda os cantos das colunas */
}

article {
    background-color:#cfaada ; /* Define a cor de fundo das seções */
    margin: 20px; /* Adiciona margem às seções */
    padding: 20px; /* Adiciona espaço interno às seções */
    border-radius: 5px; /* Arredonda os cantos das seções */

    background-image: url(mimi.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
}
.content-wrapper{
  /* Usa flexbox para o layout do wrapper */
  display: flex; 
    
  /* Faz o wrapper crescer e ocupar o espaço disponível */
  flex: 1;  

}


footer {
    background-color: #782080; /* Define a cor de fundo do rodapé */
    color: #fff; /* Define a cor do texto do rodapé */
    text-align: center; /* Centraliza o texto do rodapé */
    padding: 0.5rem; /* Adiciona espaço interno ao rodapé */
    position: fixed; /* Fixa o rodapé na parte inferior da tela */
    bottom: 0; /* Alinha o rodapé à parte inferior */
    width: 100%; /* Faz o rodapé ocupar toda a largura da tela */
}